.popup__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 6px;
}

.popup__input:first-child {
  margin-bottom: 30px;
}

.popup__input:focus {
  outline: 2px solid rgb(118, 118, 238);
}
