.profile__info {
  align-self: center;
  display: grid;
  grid-template-areas: "1 1" "2 2";
  gap: 12px 18px;
  max-width: 500px;
}

@media screen and (max-width: 590px) {
  .profile__info {
    gap: 14px 10px;
    padding: 26px 0 26px;
  }
}
@media screen and (max-width: 800px) {
  .profile__info {
    max-width: 260px;
  }
}
